body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #00447E; /* Michigan blue */
    color: white;
    display: inline-block;
    align-items: center;
    padding: 20px;
    font-size: 5vw;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: bold;
    width: auto;
}

.nav-bar {
    /* background-color: #FFCB05; Michigan maize */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    
    background-color: #00447E;
    
}

/* .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.nav-bar li a {
    display: block;
    padding: 15px;
    color: #00447E;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
} */

.index-nav {
    background-color: #FFCB05;
}

.pets-nav {
    background-color: #FFCB05;
}

.recipes-nav {
    background-color: #FFCB05;
}

.travel-nav {
    background-color: #FFCB05;
}



/* .nav-bar a {
    color: #00274C; 
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a:hover {
    text-decoration: underline;
} */

#main {
    margin-top: 85px;
    padding: 20px;
}

.nav-bar .active {
    background-color: #00447E; 
}

.nav-bar .active a{
    color: #FFFFFF; 
    text-decoration: underline;
    pointer-events: none;
    cursor: default;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

img {
    width: 35%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* video {
    width: 35%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
} */

.main-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

p {
    margin-top: 20px;
    text-align: center;
}

h3 {
    /* margin-top: 30px; */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.photo-div {
    border: 3px solid #00274C;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.content-div {
    border: 3px solid #00274C;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

main div div ul{
    text-align: center;
    margin-top: 5px;
}

.skip-to-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    display: block;
    text-align: center;
}

.skip-to-hidden:focus {
    position: static!important;
    overflow: visible;
    margin-top: 122px;
    width: auto;
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    /* Disable animations */
    /* Example: */
    .animated-element {
      animation: none !important;
      transition: none !important;
    }
  }

  header {
    position: relative;
    transition: left 0.3s ease; 
}

.sidebar.active + header {
    left: 250px;
}

.nav-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px; 
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    
    #main {
        margin-top: 100px;
    }

  }